*{
    font-family: fangsong;
    font-size:20px;
    
}

p{
margin-left: 2%;


}

button
{


}


h1{
font-size: large;


}

label{

padding-right: 1.5vw;
line-height: 5vh;
}
.tags{

padding-bottom: 1px;
line-height: 150%;


}


.forms{


}

.opsomming
{




}



